body {
  background-color: #ffd1dc;
  margin: 0
}

.App {
  font-family: Andale Mono, monospace;
}

.dog-button {
  margin: 1rem 1rem 0 1rem;
}

.dog-container {
  display: grid;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  gap: 5px;
  margin: 0 1rem;
}

.dog-header {
  color: #EE5E8F;
  font-size: medium;
}

.dog-image {
  object-fit: cover;
  width: 100%;
  height: 50%;
  vertical-align: middle;
  margin-top: 8px;
}

.navbar {
  margin: 0;
  padding: 0;
  overflow: hidden;

  background-color: #A996B0;
  position: inherit;
  width: 100%;
  /* padding: 1rem 0; */
  box-shadow: 1px 0px 2px 2px #D5B2C7;
}

.navbar > a {
  font-size: larger;
  float: left;
  color: #FFE8FF;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}