body {
  background-color: #ffd1dc;
  margin: 0
}

.App {
  font-family: Andale Mono, monospace;
}

.dog-button {
  margin: 1rem 1rem 0 1rem;
  display: inline-block;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: 2px 16px;
  height: 38px;
  min-width: 96px;
  min-height: 38px;
  border: none;
  color: white;
  background-color: #A996B0;
  transition: background-color .17s ease,color .17s ease;
}
.dog-button:hover {
  background-color: #D5B2C7;
}

.dog-container {
  display: grid;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  gap: 5px;
  margin: 0 1rem;
}

.dog-header {
  color: #EE5E8F;
  font-size: medium;
}

.dog-image {
  object-fit: cover;
  width: 100%;
  height: 50%;
  vertical-align: middle;
  margin-top: 8px;
}

.navbar {
  margin: 0;
  padding: 0;
  overflow: hidden;

  background-color: #A996B0;
  position: inherit;
  width: 100%;
  /* padding: 1rem 0; */
  box-shadow: 1px 0px 2px 2px #D5B2C7;
}

.navbar > a {
  transition: background-color .17s ease,color .17s ease;
  font-size: larger;
  float: left;
  color: #FFE8FF;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar > a:hover {
  background-color: #97849D;
}